body {
  background: #dddddd; }

/*Screen Breakoints*/
.view {
  max-width: 1200px;
  margin: 0px auto; }

.type {
  font-size: 11px;
  letter-spacing: 1.2px; }
  .type #d {
    display: inline-block;
    padding: 5px 10px;
    background: #228826;
    border-radius: 4px; }
  .type #c {
    display: inline-block;
    padding: 5px 10px;
    background: #2254a5;
    border-radius: 4px; }

.work .showcase .col-sm-6 {
  margin: 0px !important;
  padding: 0px !important;
  border-right: 1px solid #FFF; }

.work .showcase .project {
  min-height: 300px;
  background: lightblue;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition-duration: 1s; }
  .work .showcase .project:hover > .bg {
    transform: scale(1.1);
    transition-duration: 1s; }
  .work .showcase .project .bg {
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 1s; }
  .work .showcase .project .details {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    color: #FFF;
    padding: 20px; }
    .work .showcase .project .details h1 {
      margin: 0px;
      padding: 0px;
      padding-bottom: 10px;
      color: #1c1c1c; }

.work .showcase .left .project:nth-child(1) {
  width: 80%; }
  @media (max-width: 767px) {
    .work .showcase .left .project:nth-child(1) {
      width: 100%; } }

.work .showcase .left .project:nth-child(2) {
  width: 90%;
  background: yellow; }
  @media (max-width: 767px) {
    .work .showcase .left .project:nth-child(2) {
      width: 100%; } }

.work .showcase .left .project:nth-child(3) {
  width: 80%;
  background: green; }
  @media (max-width: 767px) {
    .work .showcase .left .project:nth-child(3) {
      width: 100%; } }

.work .showcase .right .project:nth-child(1) {
  width: 90%;
  margin-top: 40px; }
  @media (max-width: 767px) {
    .work .showcase .right .project:nth-child(1) {
      width: 100%; } }

.work .showcase .right .project:nth-child(2) {
  width: 95%;
  background: yellow; }
  @media (max-width: 767px) {
    .work .showcase .right .project:nth-child(2) {
      width: 100%; } }

.work .showcase .right .project:nth-child(3) {
  width: 80%;
  background: green; }
  @media (max-width: 767px) {
    .work .showcase .right .project:nth-child(3) {
      width: 100%; } }

.project header {
  min-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; }
  .project header .bg {
    width: 100%; }

.project .container {
  margin-top: 550px; }

.wrapper {
  /* Portrait tablet to landscape and desktop */ }
  @media (max-width: 767px) {
    .wrapper {
      padding: 20px; } }
  @media (min-width: 767px) and (max-width: 979px) {
    .wrapper {
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    .wrapper {
      margin-top: 50px; } }
  .wrapper > .row {
    max-width: 700px;
    margin: 0px auto;
    color: #363636; }
    @media (max-width: 767px) {
      .wrapper > .row {
        background: rgba(255, 0, 0, 0.2); } }
  .wrapper .hello div {
    min-height: 200px; }
  .wrapper .hello > div:nth-child(2) {
    background: #ffffff;
    transform: translate(0px, 22px); }
    .wrapper .hello > div:nth-child(2) > div {
      padding: 20px; }
      .wrapper .hello > div:nth-child(2) > div h3 {
        display: inline-block;
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-family: "Dosis", sans-serif;
        font-size: 40px; }
  .wrapper .hello .meri-photo {
    transform: translate(-15px, 120px); }
    @media (max-width: 767px) {
      .wrapper .hello .meri-photo {
        transform: translate(-15px, 22px); } }
  .wrapper .me div:nth-child(1) {
    padding: 10px;
    text-align: right;
    background: #ebebeb; }
    .wrapper .me div:nth-child(1) h1, .wrapper .me div:nth-child(1) h5 {
      font-family: "Dosis", sans-serif; }
  .wrapper .do > div {
    min-height: 175px; }
  .wrapper .do > div:nth-child(2) {
    background: #d7d7d7;
    padding: 10px; }
  .wrapper .do > div:nth-child(3) {
    background: white;
    padding: 20px; }
    .wrapper .do > div:nth-child(3) h1, .wrapper .do > div:nth-child(3) h3 {
      font-family: "Dosis", sans-serif; }
    .wrapper .do > div:nth-child(3) #typed {
      font-family: "Bree Serif", serif; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
