@import url(http://fonts.googleapis.com/css?family=Satisfy|Roboto+Slab:700,400|Roboto:400,700);
body {
  background: #7cc0e3; }

.btn-next {
  border-radius: 0px;
  padding: 20px;
  margin: 40px 0px; }

.main {
  padding-top: 150px;
  font-family: "Roboto Slab", serif; }
  .main h1 {
    font-size: 100px;
    font-weight: bold;
    transform: translateY(-30px); }
    .main h1 span#code {
      font-family: "Roboto Slab", serif; }
    .main h1 span#pixel {
      font-family: "Satisfy", cursive; }

.work .showcase {
  background: #247681;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  border: 1px solid red; }
  .work .showcase > div {
    min-height: 200px; }
