@import url(http://fonts.googleapis.com/css?family=Satisfy|Roboto+Slab:700,400|Roboto:400,700);



$pixel-font : 'Satisfy', cursive;
$rb-font :'Roboto Slab', serif;
$roboto-font: 'Roboto', sans-serif;


body{
    background: #7cc0e3;
}


.btn-next{
   border-radius: 0px;
   padding: 20px;
    margin: 40px 0px;
}

.main{
    padding-top: 150px;
    font-family: $rb-font;
    
    
    h1{
        font-size: 100px;
        font-weight: bold;
        transform: translateY(-30px);
        
        span#code{
            font-family: $rb-font;
        }
        
        span#pixel{
            font-family: $pixel-font;
        }
       
    }
    
}

.work{
    .showcase{
         background: #247681;   
        color: #fff;
        text-align: center;
        padding-top: 50px; 
        border: 1px solid red;
        & > div{
           
            min-height: 200px;
        }
        
    }
    
}