<section>
<div class="contact" ng-controller="ContactCtrl">
    <div class="container">
        <div class="row">
            <a href="#/about">Go back</a>
            <div>
                <h1>Contact Me</h1>
                
                <p>
                What we are going to pass here? I mean in the link? answer is simple, we are going to details.html page with item id on which we clicked. #/details tells that you need to JUMP to details section which is handled by angular in app.js file. Next guitarVariable is the variable you will find in controllers.js file which holds the data from data.json file. Next indexOf will get the position of guitar coming from data.json file and tells that for example violin is at fourth place in data.json file so it will return 3 because its an array, it starts from zero, remember that? I am sure you do. item is an item in guitarVariable. Okay and then after guitar details w
                </p>
            </div>
        </div>
        <div class="row text-center">
            <a href="#/contact">
            <button class="btn btn-next">
                Send a Mail
            </button>
            </a>
        </div>
    </div>
</div>
</section>