<div ng-controller="MainCtrl">
          <div class="container home">
            <div class="row text-center main">
                <h4 id="hello">Hello,</h4>
                <h3 id="name">I'm Raman Choudhary.</h3>
                <h4 id="iwn">I work in</h4>
                <h1><span id="pixel">Pixels</span> <span> & </span> <span id="code">{Code}</span> </h1>
                <a href="#/work">
                <button class="btn btn-next">Let's Take a Tour</button>
                </a>
              </div>
          </div>
      </div>