        <div class="home-card">
            <div class="wrapper">
                <div class="msg">
                    <h3>Hello, I'm Raman Choudhary</h3>
                    <h4>I Work in</h4>
                    <h1><span class="pixels">Pixels</span> <span class="and">&</span> {Code}</h1>
                    
                    <a href="#/work">
                    <button class="btn btn-next">
                        Show Me What you got?
                    </button>
                    </a>
                </div>
            </div>
          </div>