<section>
<div class="project" ng-cpntroller="ProjectCtrl">
    <div class="container">
        <div class="row">
            <a href="#/work">Go back</a>
            
            <div>
                <h1>ChristCode</h1>
                <p>
                    This is one of my favorite projects. I did this <strong>web application</strong>
                            in fresher in my college. I was quite pollular in our classes. Later We made it
                            open for all colleges in India. 
                </p>
            </div>
        </div>
        
        <div class="row text-center">
            <a href="#/work">
            <button class="btn btn-next">Back to Work</button>
            </a>
        </div>
    </div>
</div>
</section>