      <div class="work" ng-controller="WorkCtrl">
        <div class="container">
            <a href="#/">Go back</a>
            
             <div>
                    <h1>
                        All made with &hearts;
                    </h1>
                 
                 <p>
                     Here are few projects I work on as a students. Most of them are expriements because as a students
                     I had the freedom to try new things. They individually represent something I really loved to work 
                     on or something which was really useful in my learning process.
                    
                 </p>
                     
                </div>
            <div class="row">
               <div class="col-xs-12 col-sm-4 col-lg-3 showcase">
                    <a href="#/work/christcode">
                    <div>
                        <h1>ChristCode</h1>
                        <p>
                            This is one of my favorite projects. I did this <strong>web application</strong>
                            in fresher in my college. I was quite pollular in our classes. Later We made it
                            open for all colleges in India. 
                        </p>
                   </div>
                   </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3 showcase" ng-repeat="i in [1,23,45,54,231,434,543]">
                    <div>
                        <h1>BOXES</h1>
                   </div>
                </div>
               
            </div>
            
            <div class="row text-center">
                Keep Riding 
                <a href="#/about">
                <button class="btn btn-next">
                    Visit About Page
                </button>
                </a>
            </div>
          </div>
      </div>